<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="../Recursos/css/contacto.css" rel="stylesheet" />

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

      <!-- Bootstrap CSS y JS -->
      <link
        href="../Library/bootstrap-5.3.2-dist 3/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <script src="../Library/bootstrap-5.3.2-dist 3/js/bootstrap.min.js"></script>

      <!-- Tabulator CSS y JS -->
      <link
        href="../Library/Tabulator/dist/css/tabulator.min.css"
        rel="stylesheet"
      />
      <script
        type="text/javascript"
        src="../Library/Tabulator/dist/js/tabulator.min.js"
      ></script>
    </head>

    <title>Turismo Feliz</title>
  </head>
  <body>
    <div class="e188_140">
      <div class="e188_165">
        <div class="e188_166"></div>
        <span class="e188_167">Contacto</span>
      </div>
      <div class="e188_168">
        <div class="ei188_168_3_97"></div>
        <a href="../View/index.html"><span class="ei188_168_15_30">Cerrar Sesión</span></a>
        <a href="../View/contacto.html"><span class="ei188_168_15_25">Contacto</span></a>
        <a href="../View/paquetes.html"><span class="ei188_168_15_26">Paquetes</span></a>
        <a href="../View/nosotros.html"><span class="ei188_168_15_28">Nosotros</span></a>
        <a href="../View/inicio.html"><span class="ei188_168_15_24">Inicio</span></a>
        <a href="../View/inicio.html"><span class="ei188_168_15_23">turismo feliz</span></a>
        <a href="../View/cuenta.html"><span class="ei188_168_181_91">Cuenta</span></a>
      </div>
      <div class="e188_169">
        <div class="ei188_169_18_97"></div>
        <span class="ei188_169_18_98">turismo feliz</span>
        <span class="ei188_169_18_101">visítanos</span>
        <span class="ei188_169_18_106">ENLACES DE INTERES</span>
        <span class="ei188_169_18_104">LLAMANOS</span>
        <div class="ei188_169_18_99"></div>
        <div class="ei188_169_18_100"></div>
        <span class="ei188_169_18_103">CALLE 10 25 38 CASITAS - COLOMBIA</span>
        <span class="ei188_169_18_107">INICIO NOSOTROS PAQUETES MI CUENTA CONTACTO</span>
        <span class="ei188_169_18_105">312 5698963</span>
        <span class="ei188_169_18_108">2023. TURISMO FELIZ - Todos los derechos reservados</span>
      </div>
      <div class="e189_189"></div>
      <div class="e189_200"></div>
      <div class="e189_201"></div>
      <span class="e189_190">Nombres y Apellidos</span>
      <span class="e189_192">Email</span>
      <span class="e189_194">Comentario</span>
      <div class="e189_197">
        <div class="e189_198"></div>
        <span class="e189_199">Enviar</span>
      </div>
    </div>
  </body>
</html>
