<!DOCTYPE html>
<html lang="en">

<head>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../Recursos/css/login.css" rel="stylesheet" />
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  
  <!-- Bootstrap CSS y JS -->
  <link href="../Library/bootstrap-5.3.2-dist 3/css/bootstrap.min.css" rel="stylesheet" />
  <script src="../Library/bootstrap-5.3.2-dist 3/js/bootstrap.min.js"></script>
  
  <!-- Tabulator CSS y JS -->
  <link href="../Library/Tabulator/dist/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="../Library/Tabulator/dist/js/tabulator.min.js"></script>
  </head>
  
  <title>Turismo Feliz</title>
</head>

<body>

 </script>

  <div>
    <div class="e70_50"></div>
    <div class="e70_62"></div>
    <div class="e70_70"></div>
    <div class="e70_71"></div>
    <div class="e70_72"></div>
  

    <a href="registro.html" class="e70_83" id="enlaceRegistro">No tienes una cuenta? Regístrate</a>

    <div class=e91_45>
      <div class="e70_82">
        <button type="button" class="e70_81" id="btnGrabarCta" data-bs-toggle="modal"
        data-bs-target="#exampleModal" >Iniciar</button>
      </div>
    </div>

    <div class="e70_76">Contraseña
      <input type="password" class="form-control" id="txtPassword" placeholder="">
    </div>

    <div class="e70_75">Correo
      <input type="email" class="form-control" id="txtCorreo" placeholder="">
    </div>

    <span class="e70_74">Inicio</span>
    <span class="e70_65">Viaja hoy, paga mañana</span>
    <span class="e70_64">vive la aventura</span>
    <span class="e70_63">BIENVENIDOS !</span>
    <a href="#"><div class="ei70_54_15_23">turismo feliz</div></a>
    <div class="e143_52"></div>
  </div>

   <!-- Modal usuario no se encuentra registrado -->
   <div 
   id="miModal" 
   class="modal fade"
   id="exampleModal"
   tabindex="-1"
   aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Alerta</h1>
         <button
           type="button"
           class="btn-close"
           data-bs-dismiss="modal"
           aria-label="Close"
         ></button>
       </div>
       <div class="modal-body">
        El usuario no se encuentra registrado
       </div>
       <div class="modal-footer">
         <button
           type="button"
           class="btn btn-secondary"
           data-bs-dismiss="modal">
           Cerrar
         </button>
       </div>
     </div>
   </div>
 </div>

 <!-- Modal usuario no diligencio los datos-->
 <div 
 id="miModalDatos" 
 class="modal fade"
 id="exampleModal"
 tabindex="-1"
 aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h1 class="modal-title fs-5" id="exampleModalLabel">Alerta</h1>
       <button
         type="button"
         class="btn-close"
         data-bs-dismiss="modal"
         aria-label="Close"
       ></button>
     </div>
     <div class="modal-body">
      Por favor, completa los campos
     </div>
     <div class="modal-footer">
       <button
         type="button"
         class="btn btn-secondary"
         data-bs-dismiss="modal">
         Cerrar
       </button>
     </div>
   </div>
 </div>
</div>

</body>
</html>

<script type="text/javascript" src="../Scripts/index.js"></script>