<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="../Recursos/css/inicio.css" rel="stylesheet" />

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

      <!-- Bootstrap CSS y JS -->
      <link
        href="../Library/bootstrap-5.3.2-dist 3/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <script src="../Library/bootstrap-5.3.2-dist 3/js/bootstrap.min.js"></script>

      <!-- Tabulator CSS y JS -->
      <link
        href="../Library/Tabulator/dist/css/tabulator.min.css"
        rel="stylesheet"
      />
      <script
        type="text/javascript"
        src="../Library/Tabulator/dist/js/tabulator.min.js"
      ></script>
    </head>
    <title>Turismo Feliz</title>
  </head>
  <body>
    <div class="e164_52">
      <div class="e44_4">
        <div class="e18_97"></div>
        <span class="e18_98">turismo feliz</span
        ><span class="e18_101">visítanos</span
        ><span class="e18_106">ENLACES DE INTERES</span
        ><span class="e18_104">LLAMANOS</span>
        <div class="e18_99"></div>
        <div class="e18_100"></div>
        <span class="e18_103">CALLE 10 25 38 CASITAS - COLOMBIA</span
        ><span class="e18_107"> NOSOTROS PAQUETES MI CUENTA CONTACTO</span
        ><span class="e18_105">312 5698963</span
        ><span class="e18_108"
          >2023. TURISMO FELIZ - Todos los derechos reservados</span
        >
      </div>
      <div class="e60_69">
        <div class="e18_75"></div>
        <div class="e18_76"></div>
        <div class="e180_90">
          <div class="e18_80"></div>
          <a href="../View/paquetes.html"><span class="e18_81">NUESTROS PAQUETES</span></a>
        </div>
        <span class="e18_78"
          >Explora nuestro sitio, déjate inspirar y deja que Turismo Feliz sea
          tu guía hacia experiencias que iluminarán tu corazón. ¡El mundo te
          espera con los brazos abiertos, y nosotros estamos aquí para
          asegurarnos de que cada momento sea una celebración de
          felicidad!</span
        ><span class="e18_79"
          >Bienvenido a Turismo Feliz, donde cada viaje es una oportunidad para
          ser feliz. ¡Descubre, sueña, viaja y sé feliz con nosotros!</span
        ><span class="e18_77"
          >¿Listo para embarcarte en una aventura llena de alegría y
          descubrimiento?</span
        >
      </div>
      <div class="e60_67">
        <div class="e18_57"></div>
        <div class="e18_58"></div>
        <div class="e18_63"></div>
        <a href="../View/nosotros.html"><span class="e18_64">NOSOTROS</span></a>
        ><span class="e18_60"
          >En Turismo Feliz, no solo te ofrecemos destinos, te ofrecemos sueños
          convertidos en realidad. Somos más que una página web de viajes; somos
          arquitectos de memorias felices, diseñando cada aventura con pasión y
          dedicación.</span
        ><span class="e18_59"
          >¡Bienvenidos a TUrismo Feliz, tu ventana al mundo de la alegría y las
          experiencias inolvidables!</span
        >
      </div>
      <div class="e60_66">
        <div class="e15_38"></div>
        <div class="e18_53"></div>
        <span class="e18_54">DESPLAZARSE</span>
        <div class="e18_51"></div>
        <span class="e18_55">TRANSLADARSE</span>
        <div class="e18_49"></div>
        <span class="e18_50">RECORRER</span>
        <div class="e18_39"></div>
        <span class="e18_45">MOVERSE</span>
      </div>
      <div class="e60_65">
        <div class="e15_31"></div>
        <div class="e15_37"></div>
        <span class="e15_34">vive la aventura</span
        ><span class="e15_35">Viaja hoy, paga mañana</span>
      </div>
      <div class="e44_5">
        <div class="e3_97"></div>
        <a href="../View/index.html"><span class="e15_30">Cerrar Sesión</span></a>
        <a href="../View/contacto.html"><span class="e15_25">Contacto</span></a>
        <a href="../View/paquetes.html"><span class="e15_26">Paquetes</span></a>
        <a href="../View/nosotros.html"><span class="e15_28">Nosotros</span></a><span class="e15_24"></span>
        <a href="../View/inicio.html"><span class="e15_23">turismo feliz</span></a>
        <a href="../View/cuenta.html"><span class="e181_91">Cuenta</span></a>
      </div>
    </div>
  </body>
</html>
