<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="../Recursos/css/nosotros.css" rel="stylesheet" />

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

      <!-- Bootstrap CSS y JS -->
      <link
        href="../Library/bootstrap-5.3.2-dist 3/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <script src="../Library/bootstrap-5.3.2-dist 3/js/bootstrap.min.js"></script>

      <!-- Tabulator CSS y JS -->
      <link
        href="../Library/Tabulator/dist/css/tabulator.min.css"
        rel="stylesheet"
      />
      <script
        type="text/javascript"
        src="../Library/Tabulator/dist/js/tabulator.min.js"
      ></script>
    </head>

    <title>Turismo Feliz</title>
  </head>
  <body>
    <div class="e175_99">
      <div class="e46_70">
        <div class="ei46_70_18_97"></div>
        <span class="ei46_70_18_98">turismo feliz</span>
        <span class="ei46_70_18_101">visítanos</span>
        <span class="ei46_70_18_106">ENLACES DE INTERES</span>
        <span class="ei46_70_18_104">LLAMANOS</span>
        <div class="ei46_70_18_99"></div>
        <div class="ei46_70_18_100"></div>
        <span class="ei46_70_18_103">CALLE 10 25 38 CASITAS - COLOMBIA</span>
        <span class="ei46_70_18_107">INICIO NOSOTROS PAQUETES MI CUENTA CONTACTO</span>
        <span class="ei46_70_18_105">312 5698963</span>
        <span class="ei46_70_18_108">2023. TURISMO FELIZ - Todos los derechos reservados</span>
      </div>
      <div class="e60_63">
        <div class="e47_98"></div>
        <div class="e47_99"></div>
        <span class="e47_100">¿Qué nos hace diferentes?</span
        ><span class="e47_101">Nosotros no solo ofrecemos itinerarios, sugerencias y consejos
          prácticos; también buscamos capturar la esencia única de cada destino,
          llevándote más allá de lo turístico para sumergirte en la auténtica
          experiencia local.</span>
      </div>
      <div class="e60_62">
        <div class="e45_60"></div>
        <div class="e45_61"></div>
        <span class="e47_90">¡Sobre Nosotros!</span>
        <span class="e47_97"
          >En Turismo Feliz, no solo compartimos destinos; compartimos pasión
          por la aventura y el descubrimiento. Somos un equipo apasionado de
          viajeros y amantes de la exploración, unidos por la creencia de que
          cada viaje tiene el potencial de convertirse en una experiencia
          inolvidable.</span>
      </div>
      <div class="e60_64">
        <div class="e45_50"></div>
        <span class="e46_82">Nosotros</span>
      </div>
      <div class="e45_62">
        <div class="ei45_62_3_97"></div>
        <a href="../View/index.html"><span class="ei45_62_15_30">Cerrar Sesión</span></a>
        <a href="../View/contacto.html"><span class="ei45_62_15_25">Contacto</span></a>
        <a href="../View/paquetes.html"><span class="ei45_62_15_26">Paquetes</span></a>
        <a href="../View/nosotros.html"><span class="ei45_62_15_28">Nosotros</span></a>
        <a href="../View/inicio.html"><span class="ei45_62_15_24">Inicio</span></a>
        <a href="../View/inicio.html"><span class="ei45_62_15_23">turismo feliz</span></a>
        <a href="../View/cuenta.html"><span class="ei45_62_181_91">Cuenta</span></a>
      </div>
    </div>
  </body>
</html>
