<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link href="../Recursos/css/paquetes.css" rel="stylesheet" />

      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

      <!-- Bootstrap CSS y JS -->
      <link
        href="../Library/bootstrap-5.3.2-dist 3/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <script src="../Library/bootstrap-5.3.2-dist 3/js/bootstrap.min.js"></script>

      <!-- Tabulator CSS y JS -->
      <link
        href="../Library/Tabulator/dist/css/tabulator.min.css"
        rel="stylesheet"
      />
      <script
        type="text/javascript"
        src="../Library/Tabulator/dist/js/tabulator.min.js"
      ></script>
    </head>

    <title>Turismo Feliz</title>
  </head>
  <body>
    <div class="e158_52">
      <div class="e110_108">
        <span class="e110_86">paquete explora</span
        ><span class="e110_89"
          >Breve descripción del paquete, con todo lo que incluye</span
        ><span class="e110_93">$ 3.000.000</span>
        <div class="e110_100">
          <div class="e110_101"></div>
          <span class="e110_102">Reserva ahora</span>
        </div>
        <div class="e110_105"></div>
      </div>
      <div class="e110_106">
        <span class="e110_85">paquete aventura</span
        ><span class="e110_88"
          >Breve descripción del paquete, con todo lo que incluye</span
        ><span class="e110_91">$ 2.000.000</span>
        <div class="e110_97">
          <div class="e110_98"></div>
          <span class="e110_99">Reserva ahora</span>
        </div>
        <div class="e110_103"></div>
      </div>
      <div class="e110_107">
        <div class="e110_96">
          <div class="e110_94"></div>
          <span class="e110_95">Reserva ahora</span>
        </div>
        <span class="e110_84">paquete extremo</span
        ><span class="e110_87"
          >Breve descripción del paquete, con todo lo que incluye</span
        ><span class="e110_90">$ 1.000.000</span>
        <div class="e110_104"></div>
      </div>
      <div class="e110_52">
        <div class="e110_53"></div>
        <span class="e110_54">Paquetes</span>
      </div>
      <div class="e110_55">
        <div class="ei110_55_3_97"></div>
        <a href="../View/index.html"><span class="ei110_55_15_30">Cerrar Sesión</span></a>
        <a href="../View/contacto.html"><span class="ei110_55_15_25">Contacto</span></a>
        <a href="../View/paquetes_admin.html"> <span class="ei110_55_15_26">Admin Paquetes</span></a>
          <a href="../View/nosotros.html"><span class="ei110_55_15_28">Nosotros</span></a>
            <a href="../View/inicio.html"><span class="ei110_55_15_24">Inicio</span></a>
              <a href="../View/inicio.html"><span class="ei110_55_15_23">turismo feliz</span></a>
                <a href="../View/cuenta.html"><span class="ei110_55_181_91">Cuenta</span></a>
      </div>
      <div class="e110_41">
        <div class="ei110_41_18_97"></div>
        <span class="ei110_41_18_98">turismo feliz</span>
        <span class="ei110_41_18_101">visítanos</span>
        <span class="ei110_41_18_106">ENLACES DE INTERES</span>
        <span class="ei110_41_18_104">LLAMANOS</span>
        <div class="ei110_41_18_99"></div>
        <div class="ei110_41_18_100"></div>
        <span class="ei110_41_18_103">CALLE 10 25 38 CASITAS - COLOMBIA</span>
        <span class="ei110_41_18_107">INICIO NOSOTROS PAQUETES MI CUENTA CONTACTO</span>
        <span class="ei110_41_18_105">312 5698963</span>
        <span class="ei110_41_18_108">2023. TURISMO FELIZ - Todos los derechos reservados</span>
      </div>
    </div>
  </body>
</html>
