.e188_140 { 
	overflow:hidden;
}
.e188_140 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1537px;
	position:absolute;
}
.e188_165 { 
	width:1469px;
	height:372.64013671875px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:108.35986328125px;
}
.e188_166 { 
	background-color:rgba(0, 0, 0, 0.4000000059604645);
	width:1469px;
	height:372.64013671875px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../image/rectangle_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e188_167 { 
	color:rgba(255, 255, 255, 1);
	width:219.22000122070312px;
	height:81.98082733154297px;
	position:absolute;
	left:610.199951171875px;
	top:146.9268035888672px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}
.e188_168 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1451px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei188_168_3_97 { 
	background-color:rgba(216.00000232458115, 70.00000342726707, 12.000000234693289, 1);
	width:1451px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei188_168_15_30 { 
	color:rgba(255, 255, 255, 1);
	width:180.2413330078125px;
	height:31.319995880126953px;
	position:absolute;
	left:1228.3863525390625px;
	top:37.79999923706055px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei188_168_15_30:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}
.ei188_168_15_25 { 
	color:rgba(255, 255, 255, 1);
	width:124.6953125px;
	height:31.319995880126953px;
	position:absolute;
	left:906.0328369140625px;
	top:37.79999923706055px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei188_168_15_25:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}
.ei188_168_15_26 { 
	color:rgba(255, 255, 255, 1);
	width:129.229736328125px;
	height:31.31999969482422px;
	position:absolute;
	left:743.9288940429688px;
	top:39.959999084472656px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei188_168_15_26:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}
.ei188_168_15_28 { 
	color:rgba(255, 255, 255, 1);
	width:122.4281005859375px;
	height:31.319995880126953px;
	position:absolute;
	left:581.8250122070312px;
	top:38.880001068115234px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei188_168_15_28:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}
.ei188_168_15_24 { 
	color:rgba(255, 255, 255, 1);
	width:73.68359375px;
	height:31.31999969482422px;
	position:absolute;
	left:458.2633056640625px;
	top:39.959999084472656px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei188_168_15_24:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}

.ei188_168_15_23 { 
	color:rgba(255, 255, 255, 1);
	width:162.10389709472656px;
	height:41.03999710083008px;
	position:absolute;
	left:45.34375px;
	top:34.560001373291016px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei188_168_181_91 { 
	color:rgba(255, 255, 255, 1);
	width:124.6953125px;
	height:31.319995880126953px;
	position:absolute;
	left:1063.9329833984375px;
	top:37.79999923706055px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei188_168_181_91:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}
.e188_169 { 
	width:1440px;
	height:470px;
	position:absolute;
	left:0px;
	top:1102px;
}
.ei188_169_18_97 { 
	background-color:rgba(34.00000177323818, 21.000000648200512, 20.000000707805157, 1);
	width:1440px;
	height:350.28302001953125px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei188_169_18_98 { 
	color:rgba(255, 255, 255, 1);
	width:160.875px;
	height:42.122642517089844px;
	position:absolute;
	left:640.125px;
	top:60.96697998046875px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei188_169_18_101 { 
	color:rgba(255, 255, 255, 1);
	width:110.25px;
	height:42.122642517089844px;
	position:absolute;
	left:49.5px;
	top:125.25943756103516px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei188_169_18_106 { 
	color:rgba(255, 255, 255, 1);
	width:225px;
	height:42.12263488769531px;
	position:absolute;
	left:1170px;
	top:115.28302001953125px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei188_169_18_104 { 
	color:rgba(255, 255, 255, 1);
	width:112.856201171875px;
	height:34.56604766845703px;
	position:absolute;
	left:638.0718994140625px;
	top:122.06131744384766px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei188_169_18_99 { 
	transform: rotate(-0.2347393735243967deg);
	width:541.1294555664062px;
	height:0px;
	position:absolute;
	left:49.5px;
	top:83.13678741455078px;
}
.i188_169_18_99 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei188_169_18_100 { 
	transform: rotate(1.3958365156964975e-8deg);
	width:555.75px;
	height:0px;
	position:absolute;
	left:839.25px;
	top:80.91981506347656px;
}
.i188_169_18_100 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei188_169_18_103 { 
	color:rgba(255, 255, 255, 1);
	width:265.5px;
	height:80.91981506347656px;
	position:absolute;
	left:49.5px;
	top:174.03302001953125px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.ei188_169_18_107 { 
	color:rgba(255, 255, 255, 1);
	width:119.25px;
	height:164.05661010742188px;
	position:absolute;
	left:1266.75px;
	top:157.4056396484375px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.ei188_169_18_105 { 
	color:rgba(255, 255, 255, 1);
	width:151.875px;
	height:33.25471496582031px;
	position:absolute;
	left:644.625px;
	top:167.382080078125px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.ei188_169_18_108 { 
	color:rgba(34.00000177323818, 21.000000648200512, 20.000000707805157, 1);
	width:708.75px;
	height:77.59432983398438px;
	position:absolute;
	left:365.625px;
	top:356.9339599609375px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e189_189 { 
	background-color:rgba(239.8303171992302, 48.55158694088459, 48.55158694088459, 0.1599999964237213);
	width:831px;
	height:64px;
	position:absolute;
	left:311px;
	top:553px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e189_200 { 
	background-color:rgba(239.8303171992302, 48.55158694088459, 48.55158694088459, 0.1599999964237213);
	width:831px;
	height:64px;
	position:absolute;
	left:311px;
	top:664px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e189_201 { 
	background-color:rgba(239.8303171992302, 48.55158694088459, 48.55158694088459, 0.1599999964237213);
	width:831px;
	height:200px;
	position:absolute;
	left:311px;
	top:781px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e189_190 { 
	color:rgba(0, 0, 0, 1);
	width:287px;
	height:36px;
	position:absolute;
	left:298px;
	top:517px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e189_192 { 
	color:rgba(0, 0, 0, 1);
	width:119px;
	height:36px;
	position:absolute;
	left:298px;
	top:628px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e189_194 { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:36px;
	position:absolute;
	left:322px;
	top:745px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e189_197 { 
	width:256.81622314453125px;
	height:55.69977569580078px;
	position:absolute;
	left:311px;
	top:1010px;
}
.e189_198 { 
	box-shadow:5px 5px 5px rgba(0, 0, 0, 0.25);
	background-color:rgba(245.43749392032623, 141.59107267856598, 24.543749392032623, 0.9100000262260437);
	width:256.81622314453125px;
	height:55.69977569580078px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
    transition: background-color 0.3s ease;
}
.e189_198:hover {
    background-color: #073B4C; /* Cambia el color al pasar el ratón sobre el botón */
}
.e189_199 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:42px;
	position:absolute;
	left:72px;
	top:7px;
	font-family:Bebas Neue;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
