.e175_99 { 
	overflow:hidden;
}
.e175_99 { 
	background-color:rgba(255, 255, 255, 1);
	width:1415px;
	height:1851px;
	position:absolute;
}
.e46_70 { 
	width:1440px;
	height:418px;
	position:absolute;
	left:0px;
	top:1452px;
}
.ei46_70_18_97 { 
	background-color:rgba(34.00000177323818, 21.000000648200512, 20.000000707805157, 1);
	width:1440px;
	height:311.5282897949219px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei46_70_18_98 { 
	color:rgba(255, 255, 255, 1);
	width:160.875px;
	height:37.46226119995117px;
	position:absolute;
	left:640.125px;
	top:54.22169876098633px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei46_70_18_101 { 
	color:rgba(255, 255, 255, 1);
	width:110.25px;
	height:37.46226501464844px;
	position:absolute;
	left:49.5px;
	top:111.40093994140625px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei46_70_18_106 { 
	color:rgba(255, 255, 255, 1);
	width:225px;
	height:37.46226501464844px;
	position:absolute;
	left:1170px;
	top:102.52830505371094px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei46_70_18_104 { 
	color:rgba(255, 255, 255, 1);
	width:93.92498779296875px;
	height:26.943397521972656px;
	position:absolute;
	left:531.0375366210938px;
	top:95.14386749267578px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei46_70_18_99 { 
	transform: rotate(-0.20876829758291038deg);
	width:541.1285400390625px;
	height:0px;
	position:absolute;
	left:49.5px;
	top:73.93867492675781px;
}
.i46_70_18_99 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei46_70_18_100 { 
	transform: rotate(1.3958365156964975e-8deg);
	width:555.75px;
	height:0px;
	position:absolute;
	left:839.25px;
	top:71.96697998046875px;
}
.i46_70_18_100 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.ei46_70_18_103 { 
	color:rgba(255, 255, 255, 1);
	width:265.5px;
	height:71.96697998046875px;
	position:absolute;
	left:49.5px;
	top:154.77830505371094px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.ei46_70_18_107 { 
	color:rgba(255, 255, 255, 1);
	width:119.25px;
	height:145.90565490722656px;
	position:absolute;
	left:1266.75px;
	top:139.9905548095703px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.ei46_70_18_105 { 
	color:rgba(255, 255, 255, 1);
	width:151.875px;
	height:29.575469970703125px;
	position:absolute;
	left:644.625px;
	top:148.8632049560547px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.ei46_70_18_108 { 
	color:rgba(34.00000177323818, 21.000000648200512, 20.000000707805157, 1);
	width:708.75px;
	height:69.00942993164062px;
	position:absolute;
	left:365.625px;
	top:317.4433898925781px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e60_63 { 
	width:1080px;
	height:423px;
	position:absolute;
	left:168px;
	top:925px;
}
.e47_98 { 
	width:535px;
	height:423px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(../image/rectangle_26.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e47_99 { 
	box-shadow:10px 10px 35px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(216.00000232458115, 70.00000342726707, 12.000000234693289, 1);
	width:559px;
	height:341px;
	position:absolute;
	left:521px;
	top:43px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e47_100 { 
	color:rgba(255, 255, 255, 1);
	width:315px;
	height:43px;
	position:absolute;
	left:552px;
	top:98px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e47_101 { 
	color:rgba(255, 255, 255, 1);
	width:498px;
	height:145px;
	position:absolute;
	left:552px;
	top:141px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e60_62 { 
	width:1062px;
	height:423px;
	position:absolute;
	left:186px;
	top:469px;
}
.e45_60 { 
	width:535px;
	height:423px;
	position:absolute;
	left:527px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(../image/rectangle_24.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e45_61 { 
	box-shadow:10px 10px 35px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(216.00000232458115, 70.00000342726707, 12.000000234693289, 1);
	width:559px;
	height:341px;
	position:absolute;
	left:0px;
	top:41px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e47_90 { 
	color:rgba(255, 255, 255, 1);
	width:204px;
	height:43px;
	position:absolute;
	left:19px;
	top:116px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.e47_97 { 
	color:rgba(255, 255, 255, 1);
	width:508px;
	height:177px;
	position:absolute;
	left:19px;
	top:160px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e60_64 { 
	width:1415px;
	height:321.43994140625px;
	position:absolute;
	left:0px;
	top:100px;
}
.e45_50 { 
	background-color:rgba(0, 0, 0, 0.6499999761581421);
	width:1415px;
	height:321.43994140625px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(../image/rectangle_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e46_82 { 
	color:rgba(255, 255, 255, 1);
	width:222.19921875px;
	height:70.71678161621094px;
	position:absolute;
	left:585.0623779296875px;
	top:126.73899841308594px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e45_62 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1415px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei45_62_3_97 { 
	background-color:rgba(216.00000232458115, 70.00000342726707, 12.000000234693289, 1);
	width:1415px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei45_62_15_30 { 
	color:rgba(255, 255, 255, 1);
	width:175.76953125px;
	height:29px;
	position:absolute;
	left:1197.909423828125px;
	top:35px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei45_62_15_30:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}

.ei45_62_15_25 { 
	color:rgba(255, 255, 255, 1);
	width:121.6015625px;
	height:29px;
	position:absolute;
	left:883.5537109375px;
	top:35px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei45_62_15_25:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}

.ei45_62_15_26 { 
	color:rgba(255, 255, 255, 1);
	width:126.0234375px;
	height:29px;
	position:absolute;
	left:725.4716796875px;
	top:37px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei45_62_15_26:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}
.ei45_62_15_28 { 
	color:rgba(255, 255, 255, 1);
	width:119.390625px;
	height:29px;
	position:absolute;
	left:567.3896484375px;
	top:36px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei45_62_15_28:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}

.ei45_62_15_24 { 
	color:rgba(255, 255, 255, 1);
	width:71.85543823242188px;
	height:29px;
	position:absolute;
	left:446.8935852050781px;
	top:37px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei45_62_15_24:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}
.ei45_62_15_23 { 
	color:rgba(255, 255, 255, 1);
	width:158.08203125px;
	height:38px;
	position:absolute;
	left:44.21875px;
	top:32px;
	font-family:Bebas Neue;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.ei45_62_181_91 { 
	color:rgba(255, 255, 255, 1);
	width:121.6015625px;
	height:29px;
	position:absolute;
	left:1037.5362548828125px;
	top:35px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
    transition: color 0.3s ease
}
.ei45_62_181_91:hover {
    color: #0F0E0E;; /* Cambia la sombra al pasar el ratón sobre el componente */
}

